{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Login</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

 <section class="contact spad " >
        <div class="container">
            <div class="row" style="text-align:center;margin:50px;">
                <div class="col-lg-12 col-md-12">
                    <div class="contact__form">
                            <h5>Log in</h5>

                            <form id = "form" method="POST" action="">
                                {% csrf_token %}

                                <input type="username" placeholder="Username" name = "username" id = "username" style="width:300px;">
                                <br>
                                <input type="password" placeholder="Password" name = "password" id = "password" style="width:300px;">
                                <br>
                                 <a href="{% url 'signup' %}" >
                                      <h6 style="color:red;">Sign up</h6>
                                 </a>
                                 <br>
                                <button type="submit" class="site-btn">Login</button>
                            </form>
                        </div>
                    </div>
                </div>

{% endblock content %}